.git
.gitignore
.github
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
venv/
.venv/
ds_portfolio_env/
.DS_Store
node_modules/
.idea/
.vscode/
*.swp
*.swo
*~

# Mantener notebooks/ y docs/ comentados para incluirlos en la imagen
# notebooks/
# docs/
tests/

# Archivos de registro y caché
*.log
.cache/
.pytest_cache/
nosetests.xml
coverage.xml
*.cover

# Archivos específicos de desarrollo local
.env
.env.*
!.env.example
