# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ds_portfolio_env/

# Git
.git/
.gitignore

# IDEs
.vscode/
.idea/

# Documentation
docs/
*.md
LICENSE

# Tests
tests/
test_*.py

# Development files
*.log
.env
*.bak
*.swp
.DS_Store

# Notebooks (excluyendo datos necesarios para la aplicación)
notebooks/*.ipynb
notebooks/*.py
!notebooks/data/
!notebooks/visualizaciones/
.ipynb_checkpoints/

# Caches
.cache/
.pytest_cache/
.coverage
